[Unit]
Description=My Java Gradle App (Simple Service)
After=network.target

[Service]
Type=simple
User=appuser
Group=appuser

Environment="JAVA_HOME=/usr/lib/jvm/java-21-openjdk-amd64"
WorkingDirectory=/opt/myapp
ExecStart=${JAVA_HOME}/bin/java -jar /opt/myapp/app.jar
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target

